### Copiar listar

#### Copia de elementos mutables

La copia funciona igual en listas, diccionarios y conjuntos

In [3]:
# Ojo no copia, crea una referencia:
L1 = [1,2,3,4]
L2 = L1
L1[0] = 1000
print('L1',L1,id(L1))
print('L2',L2,id(L2))

L1 [1000, 2, 3, 4] 2463485186816
L2 [1000, 2, 3, 4] 2463485186816

In [4]:
# Utilizar el método copy: disponible en list, set y dict
L1 = [1,2,3,4]
L2 = L1.copy()
L1[0] = 1000
print('L1',L1,id(L1))
print('L2',L2,id(L2))

L1 [1000, 2, 3, 4] 2463485195648
L2 [1, 2, 3, 4] 2463485194368

Para copiar listas de objetos mutables u objetos más complejos. Utilizar

import copy

copia = copy.deepcopy(original)

### Pruebas con conjuntos

In [5]:
c1 = {1,2,2,2,1,1,3,4,5}
c1

{1, 2, 3, 4, 5}

In [6]:
L = [1,2,3,4,3,2,1,2,2,2,4,5,6,8]
c2 = set(L)
c2

{1, 2, 3, 4, 5, 6, 8}

In [7]:
# Quiar repetidos a una lista y dejar los datos en una lista
L2 = [1,2,3,4,3,32,1,2,3,4,5]
L3 = list(set(L2))
L3

[32, 1, 2, 3, 4, 5]

In [8]:
comida = {"Alex","Ana","Miguel","Eva","Raquel"}
cena = {"Ana","Miguel", "Juan", "Pedro","Raúl"}

In [9]:
# Quien va a comer y a cenar:
comida & cena

{'Ana', 'Miguel'}

In [10]:
# Quien va solo a comer:
comida - cena

{'Alex', 'Eva', 'Raquel'}

In [11]:
# Quien va solo a cenar:
cena - comida

{'Juan', 'Pedro', 'Raúl'}

In [12]:
# Quienes han participado en los eventos:
comida | cena

{'Alex', 'Ana', 'Eva', 'Juan', 'Miguel', 'Pedro', 'Raquel', 'Raúl'}

In [13]:
# Quien va solo a un evento: solo uno!
comida ^ cena

{'Alex', 'Eva', 'Juan', 'Pedro', 'Raquel', 'Raúl'}

### Pruebas con tuplas

In [14]:
t1 = (1,2,3,4,5)
t2 = 4,5,6,7
print(t1, type(t1))
print(t2, type(t2))

(1, 2, 3, 4, 5) <class 'tuple'>
(4, 5, 6, 7) <class 'tuple'>

In [15]:
# select * from clientes where pais=?
t = (9)
print(t, type(t))

9 <class 'int'>

In [16]:
t = (9,)
print(t, type(t))

(9,) <class 'tuple'>

In [17]:
# Intercambiar variables:
a, b = 1,2
print(a)
print(b)

1
2

In [18]:
a,b = b,a
print(a)
print(b)

2
1

In [19]:
# Conversiones de otras colecciones a tuplas:
L = [1,2,3,4,5]
t = tuple(L)
t

(1, 2, 3, 4, 5)

In [20]:
(1,2) + (8,9,0)

(1, 2, 8, 9, 0)

In [22]:
(1,2) * 10

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [23]:
t[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [26]:
L = [(1,2), (8,9), (3,5)]
# Expansión de tuplas:
for a,b in L:
    print(a,b)

1 2
8 9
3 5