### Programaci√≥n funcional en Python

- Iteradores: map, filter y reduce
- List comprehession
- generadores

Pruebas iniciales

In [1]:
L = [1,3,4,5,6,1,2,70]
L

[1, 3, 4, 5, 6, 1, 2, 70]

In [2]:
L * 2

[1, 3, 4, 5, 6, 1, 2, 70, 1, 3, 4, 5, 6, 1, 2, 70]

#### map

In [3]:
def cuadrado(x):
    return x**2

In [4]:
L = [4,5,6,7,2,3,4,5]
print(L)
R = []
for i in L:
    R.append(cuadrado(i))
R

[4, 5, 6, 7, 2, 3, 4, 5]

[16, 25, 36, 49, 4, 9, 16, 25]

In [7]:
R2 = list(map(cuadrado, L))
R2

[16, 25, 36, 49, 4, 9, 16, 25]

In [8]:
R3 = [cuadrado(i) for i in L]
R3

[16, 25, 36, 49, 4, 9, 16, 25]

In [9]:
R4 = [i**2 for i in L]
R4

[16, 25, 36, 49, 4, 9, 16, 25]

In [10]:
R5 = [(i, i**2) for i in L]
R5

[(4, 16), (5, 25), (6, 36), (7, 49), (2, 4), (3, 9), (4, 16), (5, 25)]

In [11]:
tablas = [(i,j,i*j) for i in range(1,4) for j in range(1,11)]
tablas

[(1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (1, 6, 6),
 (1, 7, 7),
 (1, 8, 8),
 (1, 9, 9),
 (1, 10, 10),
 (2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (2, 10, 20),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (3, 10, 30)]