### Programaci√≥n funcional en Python

- Iteradores: map, filter y reduce
- List comprehession
- generadores

Pruebas iniciales

In [29]:
# from modulo import funcion
from functools import reduce
from random import randint
from string import ascii_letters

In [1]:
L = [1,3,4,5,6,1,2,70]
L

In [2]:
L * 2

[1, 3, 4, 5, 6, 1, 2, 70, 1, 3, 4, 5, 6, 1, 2, 70]

#### map

In [3]:
def cuadrado(x):
    return x**2

In [4]:
L = [4,5,6,7,2,3,4,5]
print(L)
R = []
for i in L:
    R.append(cuadrado(i))
R

[4, 5, 6, 7, 2, 3, 4, 5]

[16, 25, 36, 49, 4, 9, 16, 25]

In [5]:
R2 = list(map(cuadrado, L))
R2

[16, 25, 36, 49, 4, 9, 16, 25]

In [6]:
L

[4, 5, 6, 7, 2, 3, 4, 5]

In [7]:
R22 = list(map(lambda x : x**2, L))
R22

[16, 25, 36, 49, 4, 9, 16, 25]

In [8]:
R3 = [cuadrado(i) for i in L]
R3

[16, 25, 36, 49, 4, 9, 16, 25]

In [9]:
R4 = [i**2 for i in L]
R4

[16, 25, 36, 49, 4, 9, 16, 25]

In [10]:
R5 = [(i, i**2) for i in L]
R5

[(4, 16), (5, 25), (6, 36), (7, 49), (2, 4), (3, 9), (4, 16), (5, 25)]

In [11]:
tablas = [(i,j,i*j) for i in range(1,4) for j in range(1,11)]
tablas

[(1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (1, 6, 6),
 (1, 7, 7),
 (1, 8, 8),
 (1, 9, 9),
 (1, 10, 10),
 (2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (2, 10, 20),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (3, 10, 30)]

In [12]:
def segundos(h=0, m=0, s=0):
    return h * 3600 + m * 60 + s

In [13]:
L = [(12, 4, 5), (8, 30, 56), (13, 4, 22), (7, 8, 10)]

In [14]:
R = [segundos(*t) for t in L]
R

[43445, 30656, 47062, 25690]

#### Filter

In [15]:
def filtro(n):
    return True if n < 40000 else False

In [16]:
R2 = list(filter(filtro, R))
R2

[30656, 25690]

In [17]:
R3 = [i for i in R if i < 40000]
R3

[30656, 25690]

#### Funciones Lambda

In [18]:
f = lambda num : num % 2 == 0

In [19]:
type(f)

function

In [20]:
f(8)

True

In [21]:
f(3)

False

#### reduce

In [26]:
def minimo(a, b):
    print(a,b)
    return a if a < b else b

In [27]:
L = [34, 50, 12, 13,10, 8,7,30,1]

In [28]:
numero = reduce(minimo, L)
numero

34 50
34 12
12 13
12 10
10 8
8 7
7 30
7 1

1

In [ ]:
def mejorCandidato(c1, c2):
    
    if c1['exp'] > c2['exp']:
        return c1
    
    elif c2['exp'] > c1['exp']:
        return c2
    
    else:
        if c1['emp'] > c2['emp']:
            return c1
        
        elif c2['emp'] > c1['emp']:

In [35]:
candidatos = [{'nombre':letra * 5, 'exp':randint(3,10), 'emp':randint(1,5)} for letra in ascii_letters]

In [36]:
for c in candidatos:
    print(c)

{'nombre': 'aaaaa', 'exp': 7, 'emp': 3}
{'nombre': 'bbbbb', 'exp': 7, 'emp': 4}
{'nombre': 'ccccc', 'exp': 6, 'emp': 1}
{'nombre': 'ddddd', 'exp': 3, 'emp': 2}
{'nombre': 'eeeee', 'exp': 6, 'emp': 5}
{'nombre': 'fffff', 'exp': 10, 'emp': 5}
{'nombre': 'ggggg', 'exp': 7, 'emp': 4}
{'nombre': 'hhhhh', 'exp': 3, 'emp': 2}
{'nombre': 'iiiii', 'exp': 9, 'emp': 1}
{'nombre': 'jjjjj', 'exp': 5, 'emp': 5}
{'nombre': 'kkkkk', 'exp': 3, 'emp': 4}
{'nombre': 'lllll', 'exp': 4, 'emp': 2}
{'nombre': 'mmmmm', 'exp': 5, 'emp': 3}
{'nombre': 'nnnnn', 'exp': 10, 'emp': 1}
{'nombre': 'ooooo', 'exp': 5, 'emp': 4}
{'nombre': 'ppppp', 'exp': 4, 'emp': 5}
{'nombre': 'qqqqq', 'exp': 3, 'emp': 4}
{'nombre': 'rrrrr', 'exp': 4, 'emp': 2}
{'nombre': 'sssss', 'exp': 10, 'emp': 2}
{'nombre': 'ttttt', 'exp': 5, 'emp': 4}
{'nombre': 'uuuuu', 'exp': 3, 'emp': 5}
{'nombre': 'vvvvv', 'exp': 10, 'emp': 4}
{'nombre': 'wwwww', 'exp': 3, 'emp': 4}
{'nombre': 'xxxxx', 'exp': 7, 'emp': 2}
{'nombre': 'yyyyy', 'exp': 7, 'emp': 5}
{'nombre': 'zzzzz', 'exp': 9, 'emp': 5}
{'nombre': 'AAAAA', 'exp': 7, 'emp': 5}
{'nombre': 'BBBBB', 'exp': 9, 'emp': 1}
{'nombre': 'CCCCC', 'exp': 6, 'emp': 4}
{'nombre': 'DDDDD', 'exp': 3, 'emp': 3}
{'nombre': 'EEEEE', 'exp': 6, 'emp': 2}
{'nombre': 'FFFFF', 'exp': 6, 'emp': 4}
{'nombre': 'GGGGG', 'exp': 4, 'emp': 2}
{'nombre': 'HHHHH', 'exp': 5, 'emp': 3}
{'nombre': 'IIIII', 'exp': 8, 'emp': 1}
{'nombre': 'JJJJJ', 'exp': 3, 'emp': 5}
{'nombre': 'KKKKK', 'exp': 3, 'emp': 4}
{'nombre': 'LLLLL', 'exp': 10, 'emp': 1}
{'nombre': 'MMMMM', 'exp': 4, 'emp': 3}
{'nombre': 'NNNNN', 'exp': 5, 'emp': 2}
{'nombre': 'OOOOO', 'exp': 8, 'emp': 2}
{'nombre': 'PPPPP', 'exp': 6, 'emp': 1}
{'nombre': 'QQQQQ', 'exp': 5, 'emp': 3}
{'nombre': 'RRRRR', 'exp': 5, 'emp': 2}
{'nombre': 'SSSSS', 'exp': 3, 'emp': 5}
{'nombre': 'TTTTT', 'exp': 7, 'emp': 5}
{'nombre': 'UUUUU', 'exp': 10, 'emp': 4}
{'nombre': 'VVVVV', 'exp': 10, 'emp': 4}
{'nombre': 'WWWWW', 'exp': 6, 'emp': 1}
{'nombre': 'XXXXX', 'exp': 7, 'emp': 3}
{'nombre': 'YYYYY', 'exp': 6, 'emp': 5}
{'nombre': 'ZZZZZ', 'exp': 3, 'emp': 1}