## Programación funcional

- Iteradores: map, filter, reduce
- List comprehession: (dict, set, list)
- expresiones generadoras

In [14]:
from random import randint
from functools import reduce

In [2]:
L = [1,4,5,6,7,3,4,1]
L

[1, 4, 5, 6, 7, 3, 4, 1]

In [3]:
def calcular(n):
    return 2**n

In [4]:
R = []
for i in L:
    R.append(calcular(i))
R

[2, 16, 32, 64, 128, 8, 16, 2]

### map

In [5]:
R2 = list(map(calcular, L))
R2

[2, 16, 32, 64, 128, 8, 16, 2]

In [6]:
R3 = [calcular(i) for i in L]
R3

[2, 16, 32, 64, 128, 8, 16, 2]

In [7]:
R4 = [2**i for i in L]
R4

[2, 16, 32, 64, 128, 8, 16, 2]

In [8]:
tablas = [(i,j,i*j) for i in range(1,11) for j in range(1,11)]
tablas[50:60]

[(6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (6, 10, 60)]

### filter

In [9]:
def filtro(n):
    return 20 <= n <= 30

In [10]:
L = [randint(1,50) for _ in range(50)]
L[:5]

[48, 7, 37, 8, 25]

In [11]:
R = list(filter(filtro, L))
R

[25, 30, 27, 29, 28, 24, 24, 20, 28, 24, 27, 27]

In [12]:
R2 = [i for i in L if filtro(i)]
R2

[25, 30, 27, 29, 28, 24, 24, 20, 28, 24, 27, 27]

In [13]:
R3 = [i for i in L if 20 <= i <= 30]
R3

[25, 30, 27, 29, 28, 24, 24, 20, 28, 24, 27, 27]

### reduce

In [15]:
def minimo(a,b):
    print(a,b)
    return a if a < b else b

In [17]:
L = L[:10]
L

[48, 7, 37, 8, 25, 18, 9, 4, 30, 12]

In [18]:
resul = reduce(minimo, L)
resul

48 7
7 37
7 8
7 25
7 18
7 9
7 4
4 30
4 12

4

In [22]:
candidatos = [{"años":randint(7,10), "empresas":randint(5,10), "superior":randint(1,6) % 2 == 0} for _ in range(35)]
for d in candidatos:
    print(d)

{'años': 9, 'empresas': 5, 'superior': False}
{'años': 7, 'empresas': 7, 'superior': False}
{'años': 7, 'empresas': 7, 'superior': False}
{'años': 7, 'empresas': 6, 'superior': True}
{'años': 7, 'empresas': 5, 'superior': True}
{'años': 7, 'empresas': 5, 'superior': False}
{'años': 7, 'empresas': 7, 'superior': True}
{'años': 10, 'empresas': 7, 'superior': True}
{'años': 10, 'empresas': 6, 'superior': True}
{'años': 8, 'empresas': 7, 'superior': True}
{'años': 8, 'empresas': 10, 'superior': False}
{'años': 10, 'empresas': 8, 'superior': False}
{'años': 7, 'empresas': 6, 'superior': True}
{'años': 8, 'empresas': 8, 'superior': True}
{'años': 9, 'empresas': 10, 'superior': False}
{'años': 9, 'empresas': 8, 'superior': False}
{'años': 10, 'empresas': 8, 'superior': True}
{'años': 8, 'empresas': 7, 'superior': False}
{'años': 8, 'empresas': 6, 'superior': False}
{'años': 9, 'empresas': 7, 'superior': False}
{'años': 10, 'empresas': 10, 'superior': False}
{'años': 10, 'empresas': 7, 'superior': True}
{'años': 10, 'empresas': 10, 'superior': True}
{'años': 7, 'empresas': 8, 'superior': True}
{'años': 8, 'empresas': 6, 'superior': False}
{'años': 8, 'empresas': 5, 'superior': False}
{'años': 9, 'empresas': 8, 'superior': False}
{'años': 9, 'empresas': 10, 'superior': False}
{'años': 7, 'empresas': 10, 'superior': False}
{'años': 10, 'empresas': 5, 'superior': True}
{'años': 10, 'empresas': 9, 'superior': False}
{'años': 8, 'empresas': 9, 'superior': True}
{'años': 9, 'empresas': 5, 'superior': True}
{'años': 10, 'empresas': 7, 'superior': True}
{'años': 10, 'empresas': 7, 'superior': True}