### Programación Funcional

- map, filter, reduce
- list comprehesion
- funciones lambda

Aplicar una función a todos los elementos de una lista y dejar el resultado en otra

In [29]:
from random import randint
from string import ascii_letters
from functools import reduce

In [1]:
def calcularIva(importe, iva=0.21):
    return round(importe * iva, 2)

In [2]:
calcularIva(100)

21.0

In [3]:
L = [1200, 677, 340, 900, 230, 15, 56]
R = []
for p in L:
    R.append(calcularIva(p))
R

[252.0, 142.17, 71.4, 189.0, 48.3, 3.15, 11.76]

#### map

In [5]:
R2 = list(map(calcularIva, L))
R2

[252.0, 142.17, 71.4, 189.0, 48.3, 3.15, 11.76]

In [9]:
c2 = set(map(calcularIva, L))
c2

{3.15, 11.76, 48.3, 71.4, 142.17, 189.0, 252.0}

#### Con list compre.

In [6]:
R3 = [calcularIva(i) for i in L]
R3

[252.0, 142.17, 71.4, 189.0, 48.3, 3.15, 11.76]

In [7]:
R4 = [round(i * 0.21, 2) for i in L]
R4

[252.0, 142.17, 71.4, 189.0, 48.3, 3.15, 11.76]

In [8]:
c = {round(i * 0.21, 2) for i in L}
c

{3.15, 11.76, 48.3, 71.4, 142.17, 189.0, 252.0}

In [10]:
# Un diccionario con la clave: el importe y el valor el iva
d = {i:calcularIva(i) for  i in L}
d

{1200: 252.0,
 677: 142.17,
 340: 71.4,
 900: 189.0,
 230: 48.3,
 15: 3.15,
 56: 11.76}

In [12]:
# [(1,1,1), (1,10,10), ....  (5,1,5),(5,2,10), (5,3,15) ... (10,10,100)]
tablas = [(i,j,i*j) for i in range(1,11) for j in range(1,11)]
tablas[50:60]

[(6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (6, 10, 60)]

In [18]:
# Generar una estructura aleatoria, lista de diccionarios, cada dicc representa un candidato.
candidatos = [{"nombre":letra * 5, 
               "exp":randint(2,8), 
               "emp":randint(1,6),
               "sup": True if randint(1,10) % 2 == 0 else False} for letra in ascii_letters]
candidatos[:2]

[{'nombre': 'aaaaa', 'exp': 4, 'emp': 3, 'sup': False},
 {'nombre': 'bbbbb', 'exp': 3, 'emp': 2, 'sup': True}]

#### filter

In [26]:
def filtro(candidato):
    return candidato['sup'] and candidato['exp'] > 5

In [27]:
R = list(filter(filtro, candidatos))
R

[{'nombre': 'ccccc', 'exp': 6, 'emp': 1, 'sup': True},
 {'nombre': 'mmmmm', 'exp': 7, 'emp': 4, 'sup': True},
 {'nombre': 'ooooo', 'exp': 6, 'emp': 2, 'sup': True},
 {'nombre': 'ppppp', 'exp': 6, 'emp': 3, 'sup': True},
 {'nombre': 'ttttt', 'exp': 7, 'emp': 3, 'sup': True},
 {'nombre': 'EEEEE', 'exp': 7, 'emp': 2, 'sup': True},
 {'nombre': 'FFFFF', 'exp': 8, 'emp': 5, 'sup': True},
 {'nombre': 'GGGGG', 'exp': 8, 'emp': 6, 'sup': True},
 {'nombre': 'QQQQQ', 'exp': 8, 'emp': 1, 'sup': True},
 {'nombre': 'VVVVV', 'exp': 7, 'emp': 4, 'sup': True},
 {'nombre': 'XXXXX', 'exp': 8, 'emp': 6, 'sup': True}]

In [28]:
R2 = [c for c in candidatos if filtro(c)]
R2

[{'nombre': 'ccccc', 'exp': 6, 'emp': 1, 'sup': True},
 {'nombre': 'mmmmm', 'exp': 7, 'emp': 4, 'sup': True},
 {'nombre': 'ooooo', 'exp': 6, 'emp': 2, 'sup': True},
 {'nombre': 'ppppp', 'exp': 6, 'emp': 3, 'sup': True},
 {'nombre': 'ttttt', 'exp': 7, 'emp': 3, 'sup': True},
 {'nombre': 'EEEEE', 'exp': 7, 'emp': 2, 'sup': True},
 {'nombre': 'FFFFF', 'exp': 8, 'emp': 5, 'sup': True},
 {'nombre': 'GGGGG', 'exp': 8, 'emp': 6, 'sup': True},
 {'nombre': 'QQQQQ', 'exp': 8, 'emp': 1, 'sup': True},
 {'nombre': 'VVVVV', 'exp': 7, 'emp': 4, 'sup': True},
 {'nombre': 'XXXXX', 'exp': 8, 'emp': 6, 'sup': True}]

#### reduce

In [30]:
def minimo(a,b):
    print(a,b)
    return min(a,b)

In [31]:
L = [23,22,44,21,45,19,55,12,7,2,1]
obj = reduce(minimo, L)
obj

23 22
22 44
22 21
21 45
21 19
19 55
19 12
12 7
7 2
2 1

1

In [32]:
def mejorCandidato(c1, c2):
    if c1['exp'] > c2['exp']:
        return c1
    
    elif c2['exp'] > c1['exp']:
        return c2
    
    else:
        if c1['emp'] > c2['emp']:
            return c1
        
        elif c2['emp'] > c1['emp']:
            return c2
        
        else:
            if c1['sup'] and not c2['sup']:
                return c1
            
            elif c2['sup'] and not c1['sup']:
                return c2
            
            else:
                return c1

In [33]:
candidatos

[{'nombre': 'aaaaa', 'exp': 4, 'emp': 3, 'sup': False},
 {'nombre': 'bbbbb', 'exp': 3, 'emp': 2, 'sup': True},
 {'nombre': 'ccccc', 'exp': 6, 'emp': 1, 'sup': True},
 {'nombre': 'ddddd', 'exp': 6, 'emp': 1, 'sup': False},
 {'nombre': 'eeeee', 'exp': 5, 'emp': 3, 'sup': True},
 {'nombre': 'fffff', 'exp': 8, 'emp': 1, 'sup': False},
 {'nombre': 'ggggg', 'exp': 2, 'emp': 1, 'sup': True},
 {'nombre': 'hhhhh', 'exp': 2, 'emp': 2, 'sup': False},
 {'nombre': 'iiiii', 'exp': 8, 'emp': 5, 'sup': False},
 {'nombre': 'jjjjj', 'exp': 7, 'emp': 3, 'sup': False},
 {'nombre': 'kkkkk', 'exp': 3, 'emp': 3, 'sup': False},
 {'nombre': 'lllll', 'exp': 8, 'emp': 5, 'sup': False},
 {'nombre': 'mmmmm', 'exp': 7, 'emp': 4, 'sup': True},
 {'nombre': 'nnnnn', 'exp': 3, 'emp': 3, 'sup': True},
 {'nombre': 'ooooo', 'exp': 6, 'emp': 2, 'sup': True},
 {'nombre': 'ppppp', 'exp': 6, 'emp': 3, 'sup': True},
 {'nombre': 'qqqqq', 'exp': 3, 'emp': 2, 'sup': False},
 {'nombre': 'rrrrr', 'exp': 4, 'emp': 5, 'sup': True},
 {'nombre': 'sssss', 'exp': 3, 'emp': 3, 'sup': True},
 {'nombre': 'ttttt', 'exp': 7, 'emp': 3, 'sup': True},
 {'nombre': 'uuuuu', 'exp': 5, 'emp': 2, 'sup': False},
 {'nombre': 'vvvvv', 'exp': 7, 'emp': 5, 'sup': False},
 {'nombre': 'wwwww', 'exp': 2, 'emp': 2, 'sup': True},
 {'nombre': 'xxxxx', 'exp': 8, 'emp': 6, 'sup': False},
 {'nombre': 'yyyyy', 'exp': 2, 'emp': 2, 'sup': False},
 {'nombre': 'zzzzz', 'exp': 2, 'emp': 2, 'sup': False},
 {'nombre': 'AAAAA', 'exp': 8, 'emp': 1, 'sup': False},
 {'nombre': 'BBBBB', 'exp': 5, 'emp': 3, 'sup': False},
 {'nombre': 'CCCCC', 'exp': 7, 'emp': 4, 'sup': False},
 {'nombre': 'DDDDD', 'exp': 5, 'emp': 1, 'sup': False},
 {'nombre': 'EEEEE', 'exp': 7, 'emp': 2, 'sup': True},
 {'nombre': 'FFFFF', 'exp': 8, 'emp': 5, 'sup': True},
 {'nombre': 'GGGGG', 'exp': 8, 'emp': 6, 'sup': True},
 {'nombre': 'HHHHH', 'exp': 5, 'emp': 6, 'sup': True},
 {'nombre': 'IIIII', 'exp': 3, 'emp': 6, 'sup': False},
 {'nombre': 'JJJJJ', 'exp': 5, 'emp': 1, 'sup': False},
 {'nombre': 'KKKKK', 'exp': 4, 'emp': 4, 'sup': False},
 {'nombre': 'LLLLL', 'exp': 3, 'emp': 5, 'sup': True},
 {'nombre': 'MMMMM', 'exp': 8, 'emp': 6, 'sup': False},
 {'nombre': 'NNNNN', 'exp': 4, 'emp': 2, 'sup': True},
 {'nombre': 'OOOOO', 'exp': 6, 'emp': 6, 'sup': False},
 {'nombre': 'PPPPP', 'exp': 2, 'emp': 2, 'sup': True},
 {'nombre': 'QQQQQ', 'exp': 8, 'emp': 1, 'sup': True},
 {'nombre': 'RRRRR', 'exp': 2, 'emp': 1, 'sup': False},
 {'nombre': 'SSSSS', 'exp': 3, 'emp': 5, 'sup': True},
 {'nombre': 'TTTTT', 'exp': 4, 'emp': 2, 'sup': True},
 {'nombre': 'UUUUU', 'exp': 3, 'emp': 1, 'sup': False},
 {'nombre': 'VVVVV', 'exp': 7, 'emp': 4, 'sup': True},
 {'nombre': 'WWWWW', 'exp': 4, 'emp': 1, 'sup': False},
 {'nombre': 'XXXXX', 'exp': 8, 'emp': 6, 'sup': True},
 {'nombre': 'YYYYY', 'exp': 8, 'emp': 2, 'sup': False},
 {'nombre': 'ZZZZZ', 'exp': 4, 'emp': 5, 'sup': False}]

In [34]:
mejor = reduce(mejorCandidato, candidatos)
mejor

{'nombre': 'GGGGG', 'exp': 8, 'emp': 6, 'sup': True}

### Ordenar colecciones

In [35]:
L = ["Jose Luis", "Ana", "Raul", "Roberto", "Ana Maria"]
L.sort()
L

['Ana', 'Ana Maria', 'Jose Luis', 'Raul', 'Roberto']

In [36]:
R = [len(i) for i in L]
R

[3, 9, 9, 4, 7]

In [37]:
L.sort(key=len, reverse=True)
L

['Ana Maria', 'Jose Luis', 'Roberto', 'Raul', 'Ana']

In [40]:
L = [(900,), (1,2,3,4,5,8), (99,77,88)]
L.sort()
L

[(1, 2, 3, 4, 5, 8), (99, 77, 88), (900,)]

In [41]:
L.sort(key=sum, reverse=True)
L

[(900,), (99, 77, 88), (1, 2, 3, 4, 5, 8)]

In [45]:
c = {56,77,33,1,2,5,9}
L = sorted(c)
print(L)
print(c)

[1, 2, 5, 9, 33, 56, 77]
{33, 2, 1, 5, 9, 77, 56}