## Conjuntos en Python

Definición, conversión de colecciones, quitar repetidos, y operaciones con conjuntos

In [1]:
c1 = {1,2,3,44,44,44,8,8,9}
print(c1, type(c1))

{1, 2, 3, 8, 9, 44} <class 'set'>

In [2]:
c1[0]

TypeError: 'set' object is not subscriptable

In [3]:
for i in c1:
    print(i)

1
2
3
8
9
44

In [5]:
L = list(c1)
L[0]

1

In [6]:
L = [1,2,2,3,4,3,2,1,1,4,5,6,7,6,5,3,2]
c2 = set(L)
c2

{1, 2, 3, 4, 5, 6, 7}

Operaciones con conjuntos:
Tenemos dos grupos de personas. Grupo1 a comer y grupo2 a cenar.

In [7]:
grupo1 = ["Ana","Raquel","Miguel","Raúl","Sonia"]
grupo2 = ["Raquel","Raúl","José","Juan","Sandra"]

c1 = set(grupo1)
c2 = set(grupo2)

In [9]:
# Quien va a comer y a cenar?
c2 & c1

{'Raquel', 'Raúl'}

In [11]:
# Quien va solo a comer?
c1 - c2

{'Ana', 'Miguel', 'Sonia'}

In [12]:
# Quien va solo a cenar?
c2 - c1

{'José', 'Juan', 'Sandra'}

In [13]:
# Quienes han participado en los eventos: sin repetidos
c1 | c2

{'Ana', 'José', 'Juan', 'Miguel', 'Raquel', 'Raúl', 'Sandra', 'Sonia'}

In [14]:
# Quienes se han apuntado a un sólo evento: pero no a los dos
c1 ^ c2

{'Ana', 'José', 'Juan', 'Miguel', 'Sandra', 'Sonia'}

In [15]:
(c1 | c2) - (c1 & c2)

{'Ana', 'José', 'Juan', 'Miguel', 'Sandra', 'Sonia'}