## Ordenar listas y otros tipos de colecciones

Método sort de list y la función sorted

In [1]:
# Ordenación ASC
L = [23,5,6,-9,4,5,0]
L.sort()
L

[-9, 0, 4, 5, 5, 6, 23]

In [2]:
# Ordenación DESC
L.sort(reverse=True)
L

[23, 6, 5, 5, 4, 0, -9]

In [15]:
nombres = ['Raúl','Miguel','Ana','Jose Miguel','Sara','Sandra']
nombres.sort()
nombres

['Ana', 'Jose Miguel', 'Miguel', 'Raúl', 'Sandra', 'Sara']

In [16]:
[len(i) for i in nombres]

[3, 11, 6, 4, 6, 4]

In [18]:
# Ordenar con una función de python
nombres.sort(key=len, reverse=True)
nombres

['Jose Miguel', 'Miguel', 'Sandra', 'Raúl', 'Sara', 'Ana']

In [12]:
nombres = ('Raúl','Miguel','Ana','Jose Miguel','Sara','Sandra')
# nombres.sort() La tupla no tiene el método sort

L = sorted(nombres, key=len, reverse=True)
print(L)
print(nombres)

['Jose Miguel', 'Miguel', 'Sandra', 'Raúl', 'Sara', 'Ana']
('Raúl', 'Miguel', 'Ana', 'Jose Miguel', 'Sara', 'Sandra')

In [21]:
# Ordenar una lista de tuplas con nombre, edad, altura
L = [('Jose Miguel',34,1.8), ('Miguel',55,1.77), ('Sandra',22,1.65)]
L

[('Jose Miguel', 34, 1.8), ('Miguel', 55, 1.77), ('Sandra', 22, 1.65)]

In [22]:
# Ordenar ASC por edad
L.sort(key=lambda t:t[1])
L

[('Sandra', 22, 1.65), ('Jose Miguel', 34, 1.8), ('Miguel', 55, 1.77)]

In [24]:
# Ordenar DESC por altura:
L.sort(key=lambda t:t[-1], reverse=True)
L

[('Jose Miguel', 34, 1.8), ('Miguel', 55, 1.77), ('Sandra', 22, 1.65)]

In [25]:
for nombre,edad,altura in L:
    print(nombre, edad, altura)

Jose Miguel 34 1.8
Miguel 55 1.77
Sandra 22 1.65