## Tuplas en Python

Tuplas se utilizan:
- Paso de parámetros a una función
- Intercambio de variables
- Inicialización múltiple
- Expansión de tuplas
- Resultados de consultas a la BD.
- Sentencias SQL parametrizadas: select * from clientes where pais=?, ('Suiza',)

In [1]:
# Inicialización múltiple
a,b = 1,2
print(a)
print(b)

1
2

In [6]:
# Intercambio de variables:
a,b=b,a
print(a)
print(b)

2
1

In [2]:
# Definición de tuplas:
t = (1,2,3,5,6)
t2 = 4,5,6,7,8,9
print(t, type(t))
print(t2, type(t2))

(1, 2, 3, 5, 6) <class 'tuple'>
(4, 5, 6, 7, 8, 9) <class 'tuple'>

In [3]:
t = (1)
print(t, type(t))

1 <class 'int'>

In [5]:
t = (1,)
print(t, type(t))

(1,) <class 'tuple'>

In [8]:
fichero = "clientes.xlsx"
t = fichero.partition('.')
print(t)
print(t[2], t[-1])

('clientes', '.', 'xlsx')
xlsx xlsx

In [9]:
nombre, _, ext = fichero.partition('.')
print(nombre)
print(ext)

clientes
xlsx

In [10]:
ext = fichero.partition('.')[2]
ext

'xlsx'