### Listas en Python

- Crear listas
- Función list
- Acceso a los elementos
- Bucle for
- Operadores
- Slicing
- Funciones
- Métodos
- Copia de listas

In [2]:
L = [1,2,3,4,5,4,1,2]
L

[1, 2, 3, 4, 5, 4, 1, 2]

In [3]:
cad = "hola que tal"
L2 = list(cad)
L2

['h', 'o', 'l', 'a', ' ', 'q', 'u', 'e', ' ', 't', 'a', 'l']

In [4]:
L3 = [1,2,3,4,5,6]
print(L3)
print("recuento: ", len(L3))
print("suma: ", sum(L3))
print("min: ", min(L3))
print("max: ", max(L3))
print("Promedio: ", sum(L3)/len(L3))

[1, 2, 3, 4, 5, 6]
recuento:  6
suma:  21
min:  1
max:  6
Promedio:  3.5

In [5]:
for i in L3:
    print(i)

1
2
3
4
5
6

In [6]:
for pos, i in enumerate(L3):
    print(pos,i)

0 1
1 2
2 3
3 4
4 5
5 6

In [7]:
# operadores: +, *, in (funciona igual en cadenas y tuplas)
L1 = [1,2,3]
L2 = [4,5,6]
print(L1 + L2) # Concatenar!

[1, 2, 3, 4, 5, 6]

In [9]:
L1 * 3  # Concatena 3 veces!

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
print("3 in L1: ", 3 in L1)
print("1 in L1: ", 1 in L1)
print("4 in L1: ", 4 in L1)

3 in L1:  True
1 in L1:  True
4 in L1:  False

In [12]:
# Crear una lista vacía y añadir elementos:
R = []  # R = list()
R += [2]
R += [4]
R

[2, 4]

In [13]:
# Calcular la intersección de dos listas (no puede haber repetidos)
L1 = [1,2,1,2,3,4,5,4,3,1,8]
L2 = [2,3,4,1,2,3,1,7]

R = []
for i in L1:
    if i in L2 and i not in R:
        R+=[i]
R

[1, 2, 3, 4]

In [16]:
# Acceso a los elementos:
print(R)
print('El primero: ', R[0], R[-4])
print("El último:", R[-1], R[3])

[1, 2, 3, 4]
El primero:  1 1
El último: 4 4

In [18]:
R[10]

IndexError: list index out of range

In [17]:
path = "C:/mis documentos/libros/libro1.xlsx"
L = path.split("/")
fichero = L[-1]
fichero

'libro1.xlsx'

In [26]:
# slicing(inicio:fin-1:salto=1)
R = [1,2,3,4,5,6,7,8,9]
print(R)
print('los 3 primeros: ', R[0:3], R[:3])
print('los 3 últimos: ', R[-3:])
print('Quitar el primero y el último: ', R[1:-1])
print('Toda la lista: ', R[:], R)
print('toda la lista de dos en dos: ', R[::2])
print('invertir: ', R[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
los 3 primeros:  [1, 2, 3] [1, 2, 3]
los 3 últimos:  [7, 8, 9]
Quitar el primero y el último:  [2, 3, 4, 5, 6, 7, 8]
Toda la lista:  [1, 2, 3, 4, 5, 6, 7, 8, 9] [1, 2, 3, 4, 5, 6, 7, 8, 9]
toda la lista de dos en dos:  [1, 3, 5, 7, 9]
invertir:  [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
# Comprobar si el número es capicua
numero = 1234321
snum = str(numero)
"capicua" if snum == snum[::-1] else "no capicua"

'no capicua'

In [32]:
for i in range(5):
    print(i)

0
1
2
3
4

In [37]:
# range(ini, fin-1, salto=1)
print("Del 1 al 10: ", list(range(1,11)))
print("Del -10 al 10: ", list(range(-10, 11)))
print('Del 0 al 100 de 5 en 5: ', list(range(0,101,5)))
print('Del 10 al 1: ', list(range(10, 0, -1)))

Del 1 al 10:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Del -10 al 10:  [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Del 0 al 100 de 5 en 5:  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
Del 10 al 1:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]