## Programación funcional

- Iteradores: map, filter, reduce
- List comprehession: (dict, set, list)
- expresiones generadoras

In [23]:
from random import randint
from functools import reduce
from string import ascii_letters

In [2]:
L = [1,4,5,6,7,3,4,1]
L

[1, 4, 5, 6, 7, 3, 4, 1]

In [3]:
def calcular(n):
    return 2**n

In [4]:
R = []
for i in L:
    R.append(calcular(i))
R

[2, 16, 32, 64, 128, 8, 16, 2]

### map

In [5]:
R2 = list(map(calcular, L))
R2

[2, 16, 32, 64, 128, 8, 16, 2]

In [6]:
R3 = [calcular(i) for i in L]
R3

[2, 16, 32, 64, 128, 8, 16, 2]

In [7]:
R4 = [2**i for i in L]
R4

[2, 16, 32, 64, 128, 8, 16, 2]

In [8]:
tablas = [(i,j,i*j) for i in range(1,11) for j in range(1,11)]
tablas[50:60]

[(6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (6, 10, 60)]

### filter

In [9]:
def filtro(n):
    return 20 <= n <= 30

In [10]:
L = [randint(1,50) for _ in range(50)]
L[:5]

[48, 7, 37, 8, 25]

In [11]:
R = list(filter(filtro, L))
R

[25, 30, 27, 29, 28, 24, 24, 20, 28, 24, 27, 27]

In [12]:
R2 = [i for i in L if filtro(i)]
R2

[25, 30, 27, 29, 28, 24, 24, 20, 28, 24, 27, 27]

In [13]:
R3 = [i for i in L if 20 <= i <= 30]
R3

[25, 30, 27, 29, 28, 24, 24, 20, 28, 24, 27, 27]

### reduce

In [15]:
def minimo(a,b):
    print(a,b)
    return a if a < b else b

In [17]:
L = L[:10]
L

[48, 7, 37, 8, 25, 18, 9, 4, 30, 12]

In [18]:
resul = reduce(minimo, L)
resul

48 7
7 37
7 8
7 25
7 18
7 9
7 4
4 30
4 12

4

In [24]:
candidatos = [{"nombre": letra * 5,"años":randint(7,10), "empresas":randint(5,10), "superior":randint(1,6) % 2 == 0} for letra in ascii_letters]
for d in candidatos:
    print(d)

{'nombre': 'aaaaa', 'años': 10, 'empresas': 5, 'superior': True}
{'nombre': 'bbbbb', 'años': 10, 'empresas': 8, 'superior': False}
{'nombre': 'ccccc', 'años': 10, 'empresas': 5, 'superior': False}
{'nombre': 'ddddd', 'años': 9, 'empresas': 7, 'superior': False}
{'nombre': 'eeeee', 'años': 7, 'empresas': 7, 'superior': False}
{'nombre': 'fffff', 'años': 7, 'empresas': 8, 'superior': False}
{'nombre': 'ggggg', 'años': 9, 'empresas': 6, 'superior': True}
{'nombre': 'hhhhh', 'años': 10, 'empresas': 6, 'superior': True}
{'nombre': 'iiiii', 'años': 8, 'empresas': 10, 'superior': True}
{'nombre': 'jjjjj', 'años': 8, 'empresas': 10, 'superior': False}
{'nombre': 'kkkkk', 'años': 10, 'empresas': 10, 'superior': False}
{'nombre': 'lllll', 'años': 8, 'empresas': 8, 'superior': False}
{'nombre': 'mmmmm', 'años': 7, 'empresas': 9, 'superior': False}
{'nombre': 'nnnnn', 'años': 8, 'empresas': 9, 'superior': True}
{'nombre': 'ooooo', 'años': 10, 'empresas': 7, 'superior': False}
{'nombre': 'ppppp', 'años': 7, 'empresas': 8, 'superior': True}
{'nombre': 'qqqqq', 'años': 10, 'empresas': 8, 'superior': False}
{'nombre': 'rrrrr', 'años': 9, 'empresas': 5, 'superior': False}
{'nombre': 'sssss', 'años': 7, 'empresas': 9, 'superior': False}
{'nombre': 'ttttt', 'años': 8, 'empresas': 10, 'superior': True}
{'nombre': 'uuuuu', 'años': 9, 'empresas': 6, 'superior': False}
{'nombre': 'vvvvv', 'años': 8, 'empresas': 6, 'superior': True}
{'nombre': 'wwwww', 'años': 7, 'empresas': 10, 'superior': True}
{'nombre': 'xxxxx', 'años': 10, 'empresas': 6, 'superior': False}
{'nombre': 'yyyyy', 'años': 10, 'empresas': 5, 'superior': False}
{'nombre': 'zzzzz', 'años': 7, 'empresas': 5, 'superior': True}
{'nombre': 'AAAAA', 'años': 7, 'empresas': 8, 'superior': False}
{'nombre': 'BBBBB', 'años': 7, 'empresas': 6, 'superior': False}
{'nombre': 'CCCCC', 'años': 10, 'empresas': 9, 'superior': True}
{'nombre': 'DDDDD', 'años': 9, 'empresas': 9, 'superior': True}
{'nombre': 'EEEEE', 'años': 9, 'empresas': 9, 'superior': False}
{'nombre': 'FFFFF', 'años': 7, 'empresas': 5, 'superior': False}
{'nombre': 'GGGGG', 'años': 9, 'empresas': 5, 'superior': False}
{'nombre': 'HHHHH', 'años': 9, 'empresas': 5, 'superior': True}
{'nombre': 'IIIII', 'años': 8, 'empresas': 8, 'superior': False}
{'nombre': 'JJJJJ', 'años': 9, 'empresas': 7, 'superior': True}
{'nombre': 'KKKKK', 'años': 8, 'empresas': 5, 'superior': False}
{'nombre': 'LLLLL', 'años': 10, 'empresas': 10, 'superior': False}
{'nombre': 'MMMMM', 'años': 7, 'empresas': 6, 'superior': False}
{'nombre': 'NNNNN', 'años': 10, 'empresas': 7, 'superior': False}
{'nombre': 'OOOOO', 'años': 8, 'empresas': 5, 'superior': True}
{'nombre': 'PPPPP', 'años': 9, 'empresas': 5, 'superior': True}
{'nombre': 'QQQQQ', 'años': 8, 'empresas': 9, 'superior': True}
{'nombre': 'RRRRR', 'años': 9, 'empresas': 6, 'superior': True}
{'nombre': 'SSSSS', 'años': 10, 'empresas': 9, 'superior': False}
{'nombre': 'TTTTT', 'años': 9, 'empresas': 8, 'superior': True}
{'nombre': 'UUUUU', 'años': 10, 'empresas': 5, 'superior': False}
{'nombre': 'VVVVV', 'años': 10, 'empresas': 7, 'superior': False}
{'nombre': 'WWWWW', 'años': 10, 'empresas': 6, 'superior': False}
{'nombre': 'XXXXX', 'años': 10, 'empresas': 6, 'superior': True}
{'nombre': 'YYYYY', 'años': 7, 'empresas': 10, 'superior': True}
{'nombre': 'ZZZZZ', 'años': 7, 'empresas': 7, 'superior': True}

In [25]:
def mejorCandidato(c1, c2):
    
    if c1['años'] > c2['años']:
        return c1
    
    elif c2['años'] > c1['años']:
        return c2
    
    else:
        if c1['empresas'] > c2['empresas']:
            return c1
        
        elif c2['empresas'] > c1['empresas']:
            return c2
        
        else:
            if c1['superior'] and not c2['superior']:
                return c1
            
            elif not c1['superior'] and c2['superior']:
                return c2
            
            else:
                return c1

In [26]:
elMejor = reduce(mejorCandidato, candidatos)
elMejor

{'nombre': 'kkkkk', 'años': 10, 'empresas': 10, 'superior': False}

In [31]:
def comparar(elMejor, c):
    L1 = list(elMejor.values())[1:]
    L2 = list(c.values())[1:]
    return L1 == L2

In [32]:
mejoresCandidatos = [c for c in candidatos if comparar(elMejor, c)]

In [33]:
mejoresCandidatos

[{'nombre': 'kkkkk', 'años': 10, 'empresas': 10, 'superior': False},
 {'nombre': 'LLLLL', 'años': 10, 'empresas': 10, 'superior': False}]

In [30]:
d = {'nombre': 'KKKKK', 'años': 8, 'empresas': 5, 'superior': False}
L = list(d.values())[1:]
L

[8, 5, False]