## Programación funcional

Iteradores: map, filter y reduce (vienen heredado de Python 2.7)

List comprehension: forma compacta de generar: listas, diccionario y conjuntos

In [17]:
from functools import reduce
from random import randint

In [2]:
# Dada una lista aplicar una función a todos los elementos de la lista y resultado lo dejamos en otra lista
def calcularTotal(precio):
    # Incrementa el precio con el 21% de IVA
    return round(precio * 1.21, 2)

In [3]:
calcularTotal(100)

121.0

In [4]:
L = [100, 230, 150, 166, 450, 780]
R = []
for i in L:
    R.append(calcularTotal(i))
R

[121.0, 278.3, 181.5, 200.86, 544.5, 943.8]

### map

In [5]:
# Solución utilizando map:
R2 = list(map(calcularTotal, L))
R2

[121.0, 278.3, 181.5, 200.86, 544.5, 943.8]

### List comprehesion

In [6]:
# Solución con list compre.
R3 = [calcularTotal(i) for i in L]
R3

[121.0, 278.3, 181.5, 200.86, 544.5, 943.8]

In [7]:
R4 = [round(i * 1.21, 2) for i in L]
R4

[121.0, 278.3, 181.5, 200.86, 544.5, 943.8]

In [8]:
# A partir de una lista de nombres generar otra lista con los nombres escritos correctamente (primera letra en mayúscula)
nombres = ['ANA', 'jorge', 'eVA','miguel','eleNA']
R = [i.capitalize() for i in nombres]
R

['Ana', 'Jorge', 'Eva', 'Miguel', 'Elena']

### filter

In [9]:
# Filtrar precios que están entre 150 y 250 eur.
def filtro(num):
    return 150 <= num <= 250

In [10]:
L

[100, 230, 150, 166, 450, 780]

In [11]:
R = list(filter(filtro, L))
R

[230, 150, 166]

### List comprehession

In [12]:
R2 = [i for i in L if filtro(i)]
R2

[230, 150, 166]

In [13]:
R3 = [i for i in L if 150 <= i <= 250]
R3

[230, 150, 166]

### reduce

In [14]:
def maximo(n1, n2):
    print(n1, n2)
    return n1 if n1 > n2 else n2

In [15]:
L

[100, 230, 150, 166, 450, 780]

In [16]:
resul = reduce(maximo, L)
resul

100 230
230 150
230 166
230 450
450 780

780

### List Compre. aplicado a otras colecciones de Python

In [18]:
L = [randint(1,30) for _ in range(10)]
L

[20, 22, 4, 14, 27, 19, 13, 5, 16, 5]

In [19]:
d = {letra:[randint(1,30) for _ in range(10)]  for letra in "aeiou"}
for k, L in d.items():
    print(k,L)

a [29, 28, 1, 19, 16, 25, 14, 5, 30, 16]
e [23, 1, 19, 25, 5, 13, 13, 15, 28, 1]
i [2, 25, 16, 7, 2, 2, 1, 30, 16, 27]
o [12, 6, 16, 2, 20, 26, 17, 18, 3, 28]
u [24, 14, 2, 14, 30, 19, 4, 28, 21, 28]

Generar las 10 tablas de multiplicar en tuplas: (1,1,1),(1,2,2) … (10,1,10),…(10,10,100)

In [21]:
L = [(i, j, i*j) for i in range(1,11) \
     for j in range(1,11)]
L[90:]

[(10, 1, 10),
 (10, 2, 20),
 (10, 3, 30),
 (10, 4, 40),
 (10, 5, 50),
 (10, 6, 60),
 (10, 7, 70),
 (10, 8, 80),
 (10, 9, 90),
 (10, 10, 100)]