## Ordenar colecciones en Python

Método sort de las listas, función sorted, funciones lambda

In [1]:
L = [1,4,-7,0,4,5,1,3]
L.sort()
L

[-7, 0, 1, 1, 3, 4, 4, 5]

In [3]:
t = (2,5,5,4,31,7,8,-9)
L2 = sorted(t)
L2

[-9, 2, 4, 5, 5, 7, 8, 31]

In [9]:
c = {"Sara","Andres","Jorge","Ana","Tomas","Jose Luis"}
L3 = sorted(c)
L3

['Ana', 'Andres', 'Jorge', 'Jose Luis', 'Sara', 'Tomas']

In [10]:
# Ordenar DESC
L.sort(reverse=True)
L

[5, 4, 4, 3, 1, 1, 0, -7]

In [11]:
L4 = sorted(c, reverse=True)
L4

['Tomas', 'Sara', 'Jose Luis', 'Jorge', 'Andres', 'Ana']

In [12]:
L5 = sorted(c, key=len)
L5

['Ana', 'Sara', 'Jorge', 'Tomas', 'Andres', 'Jose Luis']

In [13]:
longitudes = [len(i) for i in c]
longitudes

[6, 4, 5, 9, 3, 5]

In [14]:
L = [1,2,2,2,1,1,1,2,4,5,5,6,7,6,4]
k = set(L) # Quitar repetidos.
print(k)
histo = dict()
for i in k:
    histo[i] = L.count(i)
print(histo)

{1, 2, 4, 5, 6, 7}
{1: 4, 2: 4, 4: 2, 5: 2, 6: 2, 7: 1}

In [15]:
L = list(histo.items())
L

[(1, 4), (2, 4), (4, 2), (5, 2), (6, 2), (7, 1)]

In [16]:
L = [('Jorge',43, 1.7), ('Tomas',23,1.9), ('Andres',55,1.78),('Olga',33,1.67)]
L

[('Jorge', 43, 1.7),
 ('Tomas', 23, 1.9),
 ('Andres', 55, 1.78),
 ('Olga', 33, 1.67)]

In [17]:
L.sort()
L

[('Andres', 55, 1.78),
 ('Jorge', 43, 1.7),
 ('Olga', 33, 1.67),
 ('Tomas', 23, 1.9)]

In [18]:
# Ordenar ASC por Edad
L.sort(key=lambda t:t[1])
L

[('Tomas', 23, 1.9),
 ('Olga', 33, 1.67),
 ('Jorge', 43, 1.7),
 ('Andres', 55, 1.78)]