## Listas en Python

Operaciones con listas

- Crear listas
- funciones de uso general para colecciones.
- acceso a los elementos
- índices
- recorridos
- slicing
- operadores
- copiar listas

In [1]:
L = [1,3,4,5,6,1,2,3,4]
L

In [2]:
print('recuento: ', len(L))
print('suma: ', sum(L))
print('minimo: ', min(L))
print('maximo: ', max(L))
print('promedio: ', round(sum(L)/len(L),2))

recuento:  9
suma:  29
minimo:  1
maximo:  6
promedio:  3.22

In [3]:
L2 = [1,2,3]

In [4]:
for i in L:
    print(i)

1
3
4
5
6
1
2
3
4

In [5]:
for pos, i in enumerate(L):
    print(pos, i)

0 1
1 3
2 4
3 5
4 6
5 1
6 2
7 3
8 4

In [7]:
L = [1,2,3,4,5,6]
print('el primero:', L[0], L[-6])
print('el último:', L[5], L[-1])

el primero: 1 1
el último: 6 6

In [8]:
path = "C:/mis documentos/libros/libro1.xlsx"
R = path.split('/')
R

['C:', 'mis documentos', 'libros', 'libro1.xlsx']

In [9]:
fichero = R[-1]
fichero

'libro1.xlsx'

slicing: parámetros   L[inicio:fin-1:salto=1]

In [10]:
L

[1, 2, 3, 4, 5, 6]

In [16]:
print('los 3 primeros: ', L[0:3])
print('los 3 primeros: ', L[:3])
print('los 3 últimos:', L[-3:])
print('todos de dos en dos: ', L[::2])
print('invertir: ', L[::-1])
print('Quitar el primero y el último: ', L[1:-1])

los 3 primeros:  [1, 2, 3]
los 3 primeros:  [1, 2, 3]
los 3 últimos: [4, 5, 6]
todos de dos en dos:  [1, 3, 5]
invertir:  [6, 5, 4, 3, 2, 1]
Quitar el primero y el último:  [2, 3, 4, 5]

In [19]:
# Calcular si un número es capicua:
n = 1234321
s = str(n)
s == s[::-1]

True

Crear listas con la función list

In [23]:
s = "hola que tal"
L2 = list(s)
L2, type(L2)

(['h', 'o', 'l', 'a', ' ', 'q', 'u', 'e', ' ', 't', 'a', 'l'], list)

In [26]:
# Operadores de las listas: + * in
L1 = [1,2,3]
L2 = [4,5,6]
print(L1 + L2)
print(L1 * 5)
print('1 in L1: ', 1 in L1)
print('10 in L1: ', 10 in L1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
1 in L1:  True
10 in L1:  False

In [27]:
# Modificar elementos:
L[0] = 10
L

[10, 2, 3, 4, 5, 6]

In [28]:
# Añadir elementos
L += [100]
L

[10, 2, 3, 4, 5, 6, 100]

Dadas dos listas, calcular la intersección (elementos comunes sin repetir) en una nueva lista (sin utilizar conjuntos).

In [30]:
L1 = [1,2,3,4,5,1,2]
L2 = [4,5,6,7,1,2,3]

R = []  # R = list()
 
for i in L1:
    if i in L2 and i not in R:
        R += [i]
        
R

[1, 2, 3, 4, 5]

In [31]:
# excepciones en las listas, NO podemos indexar un número entero.
n = 23
n[0]

TypeError: 'int' object is not subscriptable

In [32]:
# acceso a una posición que no existe
R[100]

IndexError: list index out of range

In [33]:
for i in 10:
    print(i)

TypeError: 'int' object is not iterable

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [39]:
# range(ini, fin-1, salto=1)
print(range(10))
print(list(range(10)))
print(list(range(1,11)))
print(list(range(0,101,5)))
print(list(range(10,0,-1)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
# copiar listas: OJO estamos creando una referencia.
L1 = [1,2,3,4,5,6,7]
L2 = L1
L1[0] = 1000
print('L1', L1, id(L1))
print('L2', L2, id(L2))

L1 [1000, 2, 3, 4, 5, 6, 7] 2010599651200
L2 [1000, 2, 3, 4, 5, 6, 7] 2010599651200

In [42]:
# Copia de listas con objetos inmutables
L1 = [1,2,3,4,5,6,7]
L2 = L1.copy()
L1[0] = 1000
print('L1', L1, id(L1))
print('L2', L2, id(L2))

L1 [1000, 2, 3, 4, 5, 6, 7] 2010600684992
L2 [1, 2, 3, 4, 5, 6, 7] 2010600020416