## Listas en Python

Operaciones con listas

- Crear listas
- funciones de uso general para colecciones.
- acceso a los elementos
- índices
- recorridos
- slicing
- operadores
- copiar listas

In [1]:
L = [1,3,4,5,6,1,2,3,4]
L

In [2]:
print('recuento: ', len(L))
print('suma: ', sum(L))
print('minimo: ', min(L))
print('maximo: ', max(L))
print('promedio: ', round(sum(L)/len(L),2))

recuento:  9
suma:  29
minimo:  1
maximo:  6
promedio:  3.22

In [3]:
L2 = [1,2,3]

In [4]:
for i in L:
    print(i)

1
3
4
5
6
1
2
3
4

In [5]:
for pos, i in enumerate(L):
    print(pos, i)

0 1
1 3
2 4
3 5
4 6
5 1
6 2
7 3
8 4

In [7]:
L = [1,2,3,4,5,6]
print('el primero:', L[0], L[-6])
print('el último:', L[5], L[-1])

el primero: 1 1
el último: 6 6

In [8]:
path = "C:/mis documentos/libros/libro1.xlsx"
R = path.split('/')
R

['C:', 'mis documentos', 'libros', 'libro1.xlsx']

In [9]:
fichero = R[-1]
fichero

'libro1.xlsx'

slicing: parámetros   L[inicio:fin-1:salto=1]

In [10]:
L

[1, 2, 3, 4, 5, 6]

In [16]:
print('los 3 primeros: ', L[0:3])
print('los 3 primeros: ', L[:3])
print('los 3 últimos:', L[-3:])
print('todos de dos en dos: ', L[::2])
print('invertir: ', L[::-1])
print('Quitar el primero y el último: ', L[1:-1])

los 3 primeros:  [1, 2, 3]
los 3 primeros:  [1, 2, 3]
los 3 últimos: [4, 5, 6]
todos de dos en dos:  [1, 3, 5]
invertir:  [6, 5, 4, 3, 2, 1]
Quitar el primero y el último:  [2, 3, 4, 5]

In [19]:
# Calcular si un número es capicua:
n = 1234321
s = str(n)
s == s[::-1]

True

Crear listas con la función list

In [23]:
s = "hola que tal"
L2 = list(s)
L2, type(L2)

(['h', 'o', 'l', 'a', ' ', 'q', 'u', 'e', ' ', 't', 'a', 'l'], list)

In [26]:
# Operadores de las listas: + * in
L1 = [1,2,3]
L2 = [4,5,6]
print(L1 + L2)
print(L1 * 5)
print('1 in L1: ', 1 in L1)
print('10 in L1: ', 10 in L1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
1 in L1:  True
10 in L1:  False