## Tuplas en python

- Inicializar múltiples variables
- Expansión de tuplas
- Intercambio de variables
- Operadores: + * in
- Slicing
- Crear tuplas: tuple
- Número indeterminado de parámetros a una función
- Una función pueda devolver más de un parámetro.
- Consultas parametrizadas (para inyectar parámetros): select * from clientes where pais = ?
- Obtener resultados de una consulta a la BD.

In [1]:
a,b,c = 1,2,3
a

1

In [2]:
fichero = "libro1.xlsx"
t = fichero.partition(".")
t

('libro1', '.', 'xlsx')

In [17]:
ext = fichero.partition('.')[2]
ext

'xlsx'

In [3]:
nombre, _, ext = t
print(nombre)
print(ext)

libro1
xlsx

In [10]:
L = [(40.4, -3.65), (42.8, -5.6), (36.8, 1.22)]
for i in L:
    print(i[0], i[1])

40.4 -3.65
42.8 -5.6
36.8 1.22

In [11]:
for lat, lon in L:
    print(lat, lon)

40.4 -3.65
42.8 -5.6
36.8 1.22

In [12]:
a,b = [1,2]
print(a)
print(b)

1
2

In [14]:
a,b, *resto = [1,2,3,4,5,6]
print(a,b,resto)

1 2 [3, 4, 5, 6]

In [15]:
a,b, *_ = [1,2,3,4,5,6]
print(a,b,_)

1 2 [3, 4, 5, 6]

In [16]:
a = 10
b = 20
a,b = b,a
print(a, b)

20 10