## Programación funcional en Python

- list comprehension
- iteradores: map, filter, reduce
- Funciones lambda
- generadores
- decoradores

In [1]:
from random import randint
from functools import reduce
from string import ascii_letters

In [2]:
def calcularIva(precio):
    return round(precio * 0.21, 2)

In [3]:
calcularIva(100)

21.0

In [4]:
precios = [560, 5000, 1200, 2456, 340]
iva = []
for p in precios:
    iva.append(calcularIva(p))
iva

[117.6, 1050.0, 252.0, 515.76, 71.4]

### map

In [5]:
obj = list(map(calcularIva, precios))
obj

[117.6, 1050.0, 252.0, 515.76, 71.4]

### list comprehension

In [6]:
L = [calcularIva(i) for i in precios]
L

[117.6, 1050.0, 252.0, 515.76, 71.4]

In [7]:
L2 = [round(precio * 0.21, 2) for precio in precios]
L2

[117.6, 1050.0, 252.0, 515.76, 71.4]

In [8]:
randint(1,40)

26

Generar una lista de 30 números aleatorios entre 1 y 50

In [9]:
L3 = [randint(1,50) for _ in range(30)]
L3[:10]

[40, 8, 44, 40, 29, 29, 18, 7, 5, 15]

In [10]:
def multiplo3(n):
    return True if n%3==0 else False

### Filter

In [11]:
obj2 = list(filter(multiplo3, L3))
obj2

[18, 15, 42, 48, 39, 6, 24, 24, 36, 24, 36, 18]

### list comprehension

In [12]:
L4 = [i for i in L3 if multiplo3(i)]
L4

[18, 15, 42, 48, 39, 6, 24, 24, 36, 24, 36, 18]

In [13]:
L5 = [i for i in L3 if i%3==0]
L5

[18, 15, 42, 48, 39, 6, 24, 24, 36, 24, 36, 18]

Calcular el iva de los multiplos de 3

In [14]:
L6 = [calcularIva(i) for i in L3 if multiplo3(i)]
L6

[3.78, 3.15, 8.82, 10.08, 8.19, 1.26, 5.04, 5.04, 7.56, 5.04, 7.56, 3.78]

In [15]:
obj3 = list(map(calcularIva, filter(multiplo3, L3)))
obj3

[3.78, 3.15, 8.82, 10.08, 8.19, 1.26, 5.04, 5.04, 7.56, 5.04, 7.56, 3.78]

In [16]:
L7 = [(i, calcularIva(i)) for i in L3 if multiplo3(i)]
L7

[(18, 3.78),
 (15, 3.15),
 (42, 8.82),
 (48, 10.08),
 (39, 8.19),
 (6, 1.26),
 (24, 5.04),
 (24, 5.04),
 (36, 7.56),
 (24, 5.04),
 (36, 7.56),
 (18, 3.78)]

In [17]:
d = {i:calcularIva(i) for i in L3 if multiplo3(i)}
d

{18: 3.78,
 15: 3.15,
 42: 8.82,
 48: 10.08,
 39: 8.19,
 6: 1.26,
 24: 5.04,
 36: 7.56}

In [18]:
c = {calcularIva(i) for i in L3 if multiplo3(i)}
c

{1.26, 3.15, 3.78, 5.04, 7.56, 8.19, 8.82, 10.08}

In [19]:
t = tuple((calcularIva(i) for i in L3 if multiplo3(i)))
t

(3.78, 3.15, 8.82, 10.08, 8.19, 1.26, 5.04, 5.04, 7.56, 5.04, 7.56, 3.78)

In [20]:
primos = [x for x in range(2, 101) if all(x%y for y in range(2, min(x, 11)))]
primos[:10]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [21]:
all([True, 45, None])

False

In [22]:
any([True, 45, None])

True

### reduce

In [23]:
def sumar(a,b):
    print(a,b)
    return a+b

In [24]:
def minimo(a,b):
    print(a,b)
    return a if a < b else b

In [25]:
L = [30, 27, 12, 45, 6, 21, 12, 33, 30, 21, 42, 21]
obj = reduce(sumar, L)
obj

30 27
57 12
69 45
114 6
120 21
141 12
153 33
186 30
216 21
237 42
279 21

300

In [26]:
print(L)
obj = reduce(minimo, L)
obj

[30, 27, 12, 45, 6, 21, 12, 33, 30, 21, 42, 21]
30 27
27 12
12 45
12 6
6 21
6 12
6 33
6 30
6 21
6 42
6 21

6

In [35]:
def mejorCandidato(c1, c2):        
    if c1['exp'] > c2['exp']:
        return c1
    elif c2['exp'] > c1['exp']:
        return c2
    else:
        if c1['emp'] > c2['emp']:
            return c1
        elif c2['emp'] > c1['emp']:
            return c2
        else:
            if c1['sup'] and not c2['sup']:
                return c1
            elif c2['sup'] and not c1['sup']:
                return c2
            else:
                return c1

In [36]:
candidatos = [{"nombre":letra*5,"exp":randint(2,12), "emp":randint(1,8), "sup": True if randint(1,10)%2==0 else False} 
              for letra in ascii_letters]
for c in candidatos:
    print(c)

{'nombre': 'aaaaa', 'exp': 3, 'emp': 8, 'sup': True}
{'nombre': 'bbbbb', 'exp': 11, 'emp': 1, 'sup': False}
{'nombre': 'ccccc', 'exp': 2, 'emp': 1, 'sup': False}
{'nombre': 'ddddd', 'exp': 8, 'emp': 8, 'sup': False}
{'nombre': 'eeeee', 'exp': 10, 'emp': 3, 'sup': True}
{'nombre': 'fffff', 'exp': 7, 'emp': 8, 'sup': False}
{'nombre': 'ggggg', 'exp': 3, 'emp': 8, 'sup': False}
{'nombre': 'hhhhh', 'exp': 8, 'emp': 3, 'sup': True}
{'nombre': 'iiiii', 'exp': 9, 'emp': 8, 'sup': False}
{'nombre': 'jjjjj', 'exp': 7, 'emp': 8, 'sup': False}
{'nombre': 'kkkkk', 'exp': 11, 'emp': 1, 'sup': True}
{'nombre': 'lllll', 'exp': 12, 'emp': 6, 'sup': True}
{'nombre': 'mmmmm', 'exp': 10, 'emp': 1, 'sup': False}
{'nombre': 'nnnnn', 'exp': 5, 'emp': 7, 'sup': False}
{'nombre': 'ooooo', 'exp': 2, 'emp': 3, 'sup': False}
{'nombre': 'ppppp', 'exp': 6, 'emp': 3, 'sup': False}
{'nombre': 'qqqqq', 'exp': 12, 'emp': 5, 'sup': False}
{'nombre': 'rrrrr', 'exp': 12, 'emp': 3, 'sup': False}
{'nombre': 'sssss', 'exp': 8, 'emp': 5, 'sup': True}
{'nombre': 'ttttt', 'exp': 2, 'emp': 7, 'sup': True}
{'nombre': 'uuuuu', 'exp': 4, 'emp': 8, 'sup': False}
{'nombre': 'vvvvv', 'exp': 8, 'emp': 5, 'sup': True}
{'nombre': 'wwwww', 'exp': 5, 'emp': 6, 'sup': True}
{'nombre': 'xxxxx', 'exp': 4, 'emp': 1, 'sup': True}
{'nombre': 'yyyyy', 'exp': 2, 'emp': 5, 'sup': True}
{'nombre': 'zzzzz', 'exp': 6, 'emp': 3, 'sup': True}
{'nombre': 'AAAAA', 'exp': 5, 'emp': 1, 'sup': False}
{'nombre': 'BBBBB', 'exp': 8, 'emp': 8, 'sup': True}
{'nombre': 'CCCCC', 'exp': 12, 'emp': 8, 'sup': True}
{'nombre': 'DDDDD', 'exp': 6, 'emp': 8, 'sup': True}
{'nombre': 'EEEEE', 'exp': 9, 'emp': 4, 'sup': False}
{'nombre': 'FFFFF', 'exp': 9, 'emp': 5, 'sup': False}
{'nombre': 'GGGGG', 'exp': 10, 'emp': 6, 'sup': False}
{'nombre': 'HHHHH', 'exp': 10, 'emp': 7, 'sup': False}
{'nombre': 'IIIII', 'exp': 6, 'emp': 1, 'sup': False}
{'nombre': 'JJJJJ', 'exp': 9, 'emp': 1, 'sup': True}
{'nombre': 'KKKKK', 'exp': 9, 'emp': 1, 'sup': True}
{'nombre': 'LLLLL', 'exp': 11, 'emp': 1, 'sup': True}
{'nombre': 'MMMMM', 'exp': 5, 'emp': 1, 'sup': True}
{'nombre': 'NNNNN', 'exp': 5, 'emp': 8, 'sup': True}
{'nombre': 'OOOOO', 'exp': 2, 'emp': 7, 'sup': False}
{'nombre': 'PPPPP', 'exp': 2, 'emp': 2, 'sup': False}
{'nombre': 'QQQQQ', 'exp': 4, 'emp': 1, 'sup': True}
{'nombre': 'RRRRR', 'exp': 4, 'emp': 1, 'sup': False}
{'nombre': 'SSSSS', 'exp': 2, 'emp': 5, 'sup': False}
{'nombre': 'TTTTT', 'exp': 2, 'emp': 3, 'sup': True}
{'nombre': 'UUUUU', 'exp': 10, 'emp': 7, 'sup': True}
{'nombre': 'VVVVV', 'exp': 4, 'emp': 8, 'sup': False}
{'nombre': 'WWWWW', 'exp': 11, 'emp': 6, 'sup': False}
{'nombre': 'XXXXX', 'exp': 5, 'emp': 7, 'sup': True}
{'nombre': 'YYYYY', 'exp': 9, 'emp': 5, 'sup': False}
{'nombre': 'ZZZZZ', 'exp': 8, 'emp': 6, 'sup': True}

In [37]:
mejor = reduce(mejorCandidato, candidatos)
mejor

{'nombre': 'CCCCC', 'exp': 12, 'emp': 8, 'sup': True}