### Ordenar colecciones

In [1]:
L = [5,7,8,1,2,3,4,9,8]
nombres = ['Jorge', 'Ana','Jose Antonio','miguel','Raúl']

In [2]:
nombres.sort()
nombres

['Ana', 'Jorge', 'Jose Antonio', 'Raúl', 'miguel']

In [3]:
L.sort(reverse=True)
L

[9, 8, 8, 7, 5, 4, 3, 2, 1]

In [4]:
lon = [len(i) for i in nombres]
lon

[3, 5, 12, 4, 6]

In [5]:
nombres.sort(key=len, reverse=True)
nombres

['Jose Antonio', 'miguel', 'Jorge', 'Raúl', 'Ana']

In [7]:
t = ((23,5),(120, 34, 1),(8,9,1,2,3,4))
L = sorted(t, key=sum, reverse=True)
L

[(120, 34, 1), (23, 5), (8, 9, 1, 2, 3, 4)]