## Tuplas en python

- Inicializar múltiples variables
- Expansión de tuplas
- Intercambio de variables
- Número indeterminado de parámetros a una función
- Una función pueda devolver más de un parámetro.
- Consultas parametrizadas (para inyectar parámetros): select * from clientes where pais = ?
- Obtener resultados de una consulta a la BD.

In [1]:
a,b,c = 1,2,3
a

1

In [2]:
fichero = "libro1.xlsx"
t = fichero.partition(".")
t

('libro1', '.', 'xlsx')

In [3]:
nombre, _, ext = t
print(nombre)
print(ext)

libro1
xlsx

In [8]:
L = [(40.4, -3.65), (42.8, -5.6), (36.8, 1.22, 670)]
for i in L:
    print(i[0], i[1])

40.4 -3.65
42.8 -5.6
36.8 1.22

In [9]:
for lat, lon in L:
    print(lat, lon)

40.4 -3.65
42.8 -5.6

ValueError: too many values to unpack (expected 2)