## Tuplas en python

- Inicializar múltiples variables
- Expansión de tuplas
- Intercambio de variables
- Operadores: + * in
- Slicing
- Crear tuplas: tuple
- Métodos: index, count
- Número indeterminado de parámetros a una función
- Una función pueda devolver más de un parámetro.
- Consultas parametrizadas (para inyectar parámetros): select * from clientes where pais = ?
- Obtener resultados de una consulta a la BD.

In [1]:
a,b,c = 1,2,3
a

1

In [2]:
fichero = "libro1.xlsx"
t = fichero.partition(".")
t

('libro1', '.', 'xlsx')

In [17]:
ext = fichero.partition('.')[2]
ext

'xlsx'

In [3]:
nombre, _, ext = t
print(nombre)
print(ext)

libro1
xlsx

In [10]:
L = [(40.4, -3.65), (42.8, -5.6), (36.8, 1.22)]
for i in L:
    print(i[0], i[1])

40.4 -3.65
42.8 -5.6
36.8 1.22

In [11]:
for lat, lon in L:
    print(lat, lon)

40.4 -3.65
42.8 -5.6
36.8 1.22

In [12]:
a,b = [1,2]
print(a)
print(b)

1
2

In [14]:
a,b, *resto = [1,2,3,4,5,6]
print(a,b,resto)

1 2 [3, 4, 5, 6]

In [15]:
a,b, *_ = [1,2,3,4,5,6]
print(a,b,_)

1 2 [3, 4, 5, 6]

In [16]:
a = 10
b = 20
a,b = b,a
print(a, b)

20 10

In [18]:
print((1,2)+(3,4))
print((1,2)*10)

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [19]:
t = (1,2,3,4,5)
t[:3]

(1, 2, 3)

In [21]:
# De lista a tupla o de tupla a conjunto:
L = [1,2,3,4,5]
t = tuple(L)
t

(1, 2, 3, 4, 5)

In [22]:
c = set(t)
c

{1, 2, 3, 4, 5}

Obtener todas las posiciones que ocupa un número dentro de una tupla y almacenarlo en una lista.

In [23]:
t = (1,2,3,4,2,5,6,2,7,8,2)
t

(1, 2, 3, 4, 2, 5, 6, 2, 7, 8, 2)

In [32]:
numero = 2
n = t.count(numero)
print(f"{numero} se repite {n} veces")
L = []
ini = 0

for i in range(n):
    pos = t.index(numero, ini)
    L.append(pos)
    ini = pos + 1
    
print(L)

2 se repite 4 veces
[1, 4, 7, 10]