### Programación funcional

- Iteradores: map y filter
- Función reduce
- List comprehension

In [19]:
from random import randint
from functools import reduce
from string import ascii_letters

In [2]:
L = [1,3,4,5,6,7]
L

[1, 3, 4, 5, 6, 7]

In [3]:
def cuadrado(n):
    return n**2

In [4]:
R = []
for i in L:
    R.append(cuadrado(i))
R

[1, 9, 16, 25, 36, 49]

#### map

In [5]:
R2 = map(cuadrado, L)
for i in R2:
    print(i, end=" ")

1 9 16 25 36 49

In [6]:
R2 = list(map(cuadrado, L))
R2

[1, 9, 16, 25, 36, 49]

In [7]:
c2 = set(map(cuadrado, L))
c2

{1, 9, 16, 25, 36, 49}

#### Con List compre.

In [8]:
R3 = [cuadrado(i) for i in L]
R3

[1, 9, 16, 25, 36, 49]

In [9]:
R4 = [i**2 for i in L]
R4

[1, 9, 16, 25, 36, 49]

#### filter

In [10]:
# Generar una lista de números aleatorios con L.C.
numeros = [randint(1,30) for _ in range(30)]
numeros[:10]

[4, 12, 22, 2, 9, 28, 5, 6, 12, 19]

In [11]:
def filtro(n):
    if n > 20:
        return True
    else:
        return False

In [12]:
def filtro2(n):
    return n > 20

In [13]:
R3 = list(filter(filtro, numeros))
R3

[22, 28, 28, 30, 30, 29, 25, 24, 28, 24, 23, 29]

#### Con LC.

In [14]:
R4 = [i for i in numeros if filtro(i)]
R4

[22, 28, 28, 30, 30, 29, 25, 24, 28, 24, 23, 29]

In [15]:
R4 = [i for i in numeros if i > 20]
R4

[22, 28, 28, 30, 30, 29, 25, 24, 28, 24, 23, 29]

#### reduce

In [17]:
def minimo(a,b):
    print(a,b)
    
    return a if a < b else b

In [18]:
L = [40, 39, 42, 28, 33, 21, 7, 9, 1]
valor = reduce(minimo, L)
valor

40 39
39 42
39 28
28 33
28 21
21 7
7 9
7 1

1

Generar una lista de candidatos con diccionarios.

In [31]:
def generarCode(c):        
        valores = list(c.values())        
        valores = tuple(valores[1:])               
        codigo = "%d%d%d" % valores
        return int(codigo)

In [32]:
d1 = {'nombre': 'aaaaa', 'exp': 10, 'emp': 5, 'sup': True}
d2 = {'nombre': 'bbbbb', 'exp': 5, 'emp': 4, 'sup': False}

print(generarCode(d1))
print()
print(generarCode(d2))

1051

540

In [33]:
def mejorCandidato(c1, c2):
    
    def generarCode(c):        
        valores = list(c.values())        
        valores = tuple(valores[1:])               
        codigo = "%d%d%d" % valores
        return int(codigo)  
    
    cod1 = generarCode(c1)
    cod2 = generarCode(c2)
    
    return c1 if cod1 > cod2 else c2

In [36]:
candidatos = [{"nombre":letra * 5, \
               "exp":randint(6,10), \
               "emp":randint(4,6),
               "sup": randint(1,10) % 2 == 0} \
              for letra in ascii_letters]
candidatos

[{'nombre': 'aaaaa', 'exp': 6, 'emp': 4, 'sup': True},
 {'nombre': 'bbbbb', 'exp': 9, 'emp': 6, 'sup': False},
 {'nombre': 'ccccc', 'exp': 8, 'emp': 5, 'sup': False},
 {'nombre': 'ddddd', 'exp': 7, 'emp': 4, 'sup': True},
 {'nombre': 'eeeee', 'exp': 7, 'emp': 6, 'sup': False},
 {'nombre': 'fffff', 'exp': 10, 'emp': 4, 'sup': False},
 {'nombre': 'ggggg', 'exp': 10, 'emp': 6, 'sup': True},
 {'nombre': 'hhhhh', 'exp': 9, 'emp': 5, 'sup': False},
 {'nombre': 'iiiii', 'exp': 9, 'emp': 6, 'sup': False},
 {'nombre': 'jjjjj', 'exp': 6, 'emp': 4, 'sup': True},
 {'nombre': 'kkkkk', 'exp': 9, 'emp': 4, 'sup': False},
 {'nombre': 'lllll', 'exp': 9, 'emp': 5, 'sup': False},
 {'nombre': 'mmmmm', 'exp': 7, 'emp': 5, 'sup': False},
 {'nombre': 'nnnnn', 'exp': 6, 'emp': 5, 'sup': False},
 {'nombre': 'ooooo', 'exp': 9, 'emp': 4, 'sup': False},
 {'nombre': 'ppppp', 'exp': 6, 'emp': 5, 'sup': True},
 {'nombre': 'qqqqq', 'exp': 8, 'emp': 4, 'sup': False},
 {'nombre': 'rrrrr', 'exp': 7, 'emp': 6, 'sup': True},
 {'nombre': 'sssss', 'exp': 9, 'emp': 4, 'sup': True},
 {'nombre': 'ttttt', 'exp': 7, 'emp': 4, 'sup': True},
 {'nombre': 'uuuuu', 'exp': 9, 'emp': 6, 'sup': True},
 {'nombre': 'vvvvv', 'exp': 10, 'emp': 4, 'sup': True},
 {'nombre': 'wwwww', 'exp': 7, 'emp': 6, 'sup': False},
 {'nombre': 'xxxxx', 'exp': 10, 'emp': 4, 'sup': True},
 {'nombre': 'yyyyy', 'exp': 6, 'emp': 6, 'sup': True},
 {'nombre': 'zzzzz', 'exp': 6, 'emp': 4, 'sup': False},
 {'nombre': 'AAAAA', 'exp': 6, 'emp': 6, 'sup': False},
 {'nombre': 'BBBBB', 'exp': 6, 'emp': 5, 'sup': True},
 {'nombre': 'CCCCC', 'exp': 8, 'emp': 6, 'sup': False},
 {'nombre': 'DDDDD', 'exp': 9, 'emp': 4, 'sup': True},
 {'nombre': 'EEEEE', 'exp': 8, 'emp': 4, 'sup': True},
 {'nombre': 'FFFFF', 'exp': 9, 'emp': 4, 'sup': True},
 {'nombre': 'GGGGG', 'exp': 7, 'emp': 5, 'sup': False},
 {'nombre': 'HHHHH', 'exp': 7, 'emp': 6, 'sup': False},
 {'nombre': 'IIIII', 'exp': 10, 'emp': 4, 'sup': True},
 {'nombre': 'JJJJJ', 'exp': 10, 'emp': 6, 'sup': True},
 {'nombre': 'KKKKK', 'exp': 9, 'emp': 5, 'sup': True},
 {'nombre': 'LLLLL', 'exp': 8, 'emp': 4, 'sup': True},
 {'nombre': 'MMMMM', 'exp': 8, 'emp': 5, 'sup': True},
 {'nombre': 'NNNNN', 'exp': 10, 'emp': 6, 'sup': False},
 {'nombre': 'OOOOO', 'exp': 7, 'emp': 4, 'sup': False},
 {'nombre': 'PPPPP', 'exp': 9, 'emp': 5, 'sup': False},
 {'nombre': 'QQQQQ', 'exp': 8, 'emp': 6, 'sup': True},
 {'nombre': 'RRRRR', 'exp': 10, 'emp': 4, 'sup': False},
 {'nombre': 'SSSSS', 'exp': 8, 'emp': 6, 'sup': True},
 {'nombre': 'TTTTT', 'exp': 10, 'emp': 5, 'sup': True},
 {'nombre': 'UUUUU', 'exp': 10, 'emp': 5, 'sup': False},
 {'nombre': 'VVVVV', 'exp': 7, 'emp': 6, 'sup': True},
 {'nombre': 'WWWWW', 'exp': 7, 'emp': 6, 'sup': True},
 {'nombre': 'XXXXX', 'exp': 8, 'emp': 5, 'sup': False},
 {'nombre': 'YYYYY', 'exp': 9, 'emp': 6, 'sup': False},
 {'nombre': 'ZZZZZ', 'exp': 8, 'emp': 4, 'sup': False}]

In [37]:
elMejor = reduce(mejorCandidato, candidatos)
elMejor

{'nombre': 'JJJJJ', 'exp': 10, 'emp': 6, 'sup': True}

#### Ordenar colecciones

In [44]:
nombres = ["Olga", "Sara","Andrés", "Ana", "Raúl","Jose Miguel"]
nombres.sort()
nombres

['Ana', 'Andrés', 'Jose Miguel', 'Olga', 'Raúl', 'Sara']

In [45]:
longitudes = [len(i) for i in nombres]
longitudes

[3, 6, 11, 4, 4, 4]

In [42]:
nombres.sort(key=len, reverse=True)
nombres

['Jose Miguel', 'Andrés', 'Olga', 'Raúl', 'Sara', 'Ana']

In [54]:
ciudades = ["madrid","Ankara","zermatt", "barcelona", "Sevilla"]
ciudades2 = ciudades.copy()
ciudades2.sort()

print(ciudades)
print(ciudades2)

ciudades3 = sorted(ciudades)
print(ciudades3)

['madrid', 'Ankara', 'zermatt', 'barcelona', 'Sevilla']
['Ankara', 'Sevilla', 'barcelona', 'madrid', 'zermatt']
['Ankara', 'Sevilla', 'barcelona', 'madrid', 'zermatt']

In [47]:
"barcelona".capitalize()

'Barcelona'

In [48]:
ciudades.sort(key=lambda c : c.capitalize())
ciudades

['Ankara', 'barcelona', 'madrid', 'Sevilla', 'zermatt']

In [49]:
ciudades= ["Madrid", "barcelona","amberes", "ancara","Sevilla"]

ciudades.sort(key=str.capitalize)

ciudades

['amberes', 'ancara', 'barcelona', 'Madrid', 'Sevilla']

In [55]:
csv = """99;Estados Unidos
32.38;Finlandia
11.61;Alemania
65.83;Brasil
41.34;Francia
51.3;Belgica
58.17;Brasil
22.98;Suiza
148.33;Suiza
13.97;Brasil
81.91;Venezuela
140.51;Austria
3.25;Mexico
55.09;Alemania
3.05;Brasil
48.29;Estados Unidos
146.06;Austria
3.67;Suecia
55.28;Francia
25.73;Finlandia
208.58;Alemania
66.29;Venezuela
4.56;Estados Unidos
136.54;Finlandia
4.54;Estados Unidos
98.03;Estados Unidos
76.07;Alemania
6.01;Francia
26.93;Italia
13.84;Mexico
125.77;Alemania
92.69;Suecia
25.83;Alemania
8.98;Suecia
2.94;Espanya
12.69;Espanya
84.81;Venezuela
76.56;Alemania
76.83;Alemania
229.24;Alemania"""

In [58]:
def extraerTupla(cad):
    importe, _, pais = cad.partition(";")
    return float(importe), pais

In [74]:
paises = [extraerTupla(i) for i in csv.split("\n")]
paises[:5]

[(99.0, 'Estados Unidos'),
 (32.38, 'Finlandia'),
 (11.61, 'Alemania'),
 (65.83, 'Brasil'),
 (41.34, 'Francia')]

In [60]:
paises.sort()
paises[:5]

[(2.94, 'Espanya'),
 (3.05, 'Brasil'),
 (3.25, 'Mexico'),
 (3.67, 'Suecia'),
 (4.54, 'Estados Unidos')]

In [61]:
paises[-5:]

[(140.51, 'Austria'),
 (146.06, 'Austria'),
 (148.33, 'Suiza'),
 (208.58, 'Alemania'),
 (229.24, 'Alemania')]

In [73]:
def ordenar(t):
    print("tupla:",t[1])
    return t[1]

In [69]:
paises[1]

(25.83, 'Alemania')

In [75]:
paises.sort(key=ordenar)
#paises.sort(key=lambda t:t[1])
paises

tupla: Estados Unidos
tupla: Finlandia
tupla: Alemania
tupla: Brasil
tupla: Francia
tupla: Belgica
tupla: Brasil
tupla: Suiza
tupla: Suiza
tupla: Brasil
tupla: Venezuela
tupla: Austria
tupla: Mexico
tupla: Alemania
tupla: Brasil
tupla: Estados Unidos
tupla: Austria
tupla: Suecia
tupla: Francia
tupla: Finlandia
tupla: Alemania
tupla: Venezuela
tupla: Estados Unidos
tupla: Finlandia
tupla: Estados Unidos
tupla: Estados Unidos
tupla: Alemania
tupla: Francia
tupla: Italia
tupla: Mexico
tupla: Alemania
tupla: Suecia
tupla: Alemania
tupla: Suecia
tupla: Espanya
tupla: Espanya
tupla: Venezuela
tupla: Alemania
tupla: Alemania
tupla: Alemania

[(11.61, 'Alemania'),
 (55.09, 'Alemania'),
 (208.58, 'Alemania'),
 (76.07, 'Alemania'),
 (125.77, 'Alemania'),
 (25.83, 'Alemania'),
 (76.56, 'Alemania'),
 (76.83, 'Alemania'),
 (229.24, 'Alemania'),
 (140.51, 'Austria'),
 (146.06, 'Austria'),
 (51.3, 'Belgica'),
 (65.83, 'Brasil'),
 (58.17, 'Brasil'),
 (13.97, 'Brasil'),
 (3.05, 'Brasil'),
 (2.94, 'Espanya'),
 (12.69, 'Espanya'),
 (99.0, 'Estados Unidos'),
 (48.29, 'Estados Unidos'),
 (4.56, 'Estados Unidos'),
 (4.54, 'Estados Unidos'),
 (98.03, 'Estados Unidos'),
 (32.38, 'Finlandia'),
 (25.73, 'Finlandia'),
 (136.54, 'Finlandia'),
 (41.34, 'Francia'),
 (55.28, 'Francia'),
 (6.01, 'Francia'),
 (26.93, 'Italia'),
 (3.25, 'Mexico'),
 (13.84, 'Mexico'),
 (3.67, 'Suecia'),
 (92.69, 'Suecia'),
 (8.98, 'Suecia'),
 (22.98, 'Suiza'),
 (148.33, 'Suiza'),
 (81.91, 'Venezuela'),
 (66.29, 'Venezuela'),
 (84.81, 'Venezuela')]